.header-component {
    flex: 0 0 60px;
    background: var(--dark);
    color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo {
    background-image: url(/assets/images/ttsprite.png);
    background-position: bottom left;
    width: 155px;
    height: 58px;
    margin: 0 var(--grid-gap)
}
.discover {
    padding: 4px 8px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 1px 1px #121212;
    color: #b66a06;
    transition: transform 0.2s ease-in-out;
    will-change: transform;
}

.discover:hover {
    transform: scale(1.1);
}

.Checking {
    flex: 1 1 auto;
    text-align: center;
}