.Loader {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: rgba(0,0,0,0.78);
    transition: opacity 0.2s ease-in-out;
}
.Loader.loading {
    opacity: 1;
    z-index: 100;
    color: var(--light);
}

